.icon{
    color:rgb(30, 30, 126);
    padding-left:0;
}
.text{
    color: rgb(30,30,126);
    font-family: 'Alatsi', sans-serif;
}
.fa-globe{
    color: black;
}
.img{
    width:100px;
    height: 100px;
}
.vr{
    height:80px;
}
small{
    color:rgb(103, 177, 29);
}
h1{
    font-size: 50px;
}
h2{
    color: rgb(21, 115, 223);
    font-family: 'Alatsi', sans-serif;
    line-height: 0%;
}
h3{
    color: rgb(21, 115, 223);
}
p{
    line-height: 5px;
    font-size: 20px;
    font-family: 'Alatsi', sans-serif;
}
.btn1{
    background-color:rgb(53, 137, 233);
    font-family: 'Alatsi', sans-serif;
    color: white;
    width: 150px;
    border-radius: 10px;
}
.btn2{
    background-color:rgb(103, 177, 29);
    font-family: 'Alatsi', sans-serif;
    color: white;
    width: 150px;
    border-radius: 10px;
}
.img3{
    height: 100px;
}